// 網站整體寬度
$container-width: 1280px;

// 全域字型
$font-style: 'Noto Sans TC', 'Helvetica Nueue', Arial;

// 背景顏色
$bg-primary: #ffffff;
$bg-secondary: #f0f0f0;

// 文字顏色
$text-title: #4b4b4b;
$text-remind: #b4b2b2;
$text-btn: #ffffff;
$text-color: #707070;
$text-color2: #676767;

// 文字大小
$font-size: 15px; //預設大小
$font-secondary: $font-size * 2; //第二多大小
