@import '../../assets/default.scss';

.detail {
  background: linear-gradient($bg-secondary 18.2%, $bg-primary 18.2%);

  &-wrapper {
    display: flex;
    height: 100vh;
    max-width: 1280px;
    margin: 0 auto;
    padding: 26px 52px 47px 90px;
  }

  &-left {
    min-width: 40%;

    &-logo {
      font-size: 35px;
      font-family: 'Amatic SC', cursive;
      padding: 4px;

      a {
        color: $text-title;
      }
    }

    &-pic {
      height: calc(100% - 46px);

      div,
      span {
        background-position: center center;
        background-size: cover;
      }

      &_top {
        height: 85%;
        margin-bottom: 3px;
      }

      &_down {
        height: 15%;
        display: flex;

        > span {
          width: 100%;
        }

        :last-child {
          margin-left: 3px;
        }
      }
    }
  }

  &-right {
    min-width: 60%;
    padding-left: 27px;
    height: calc(100% - 26px - 47px);

    &-rooms {
      height: 18.2%;
      display: flex;
      font-size: 14px;
      align-items: flex-end;
      padding-bottom: 14px;
      padding-right: 7px;
      padding-left: 2px;
      justify-content: space-between;
    }

    &-roomInfo {
      height: calc(81.8% + 47px + 26px);
      padding: 36px 2px 0px;

      &_title {
        height: 15%;
        display: flex;
        justify-content: space-between;
        color: $text-color2;

        > h3 {
          font-size: $font-size * 2;
        }

        > div {
          display: flex;
          justify-content: flex-end;
          flex-direction: column;
          margin-bottom: 19px;
          line-height: 20px;

          > span {
            > b {
              font-weight: 900;
            }
          }
        }
      }

      &_detail {
        height: 63%;
        display: flex;

        .room-detail {
          flex: 1;

          > p {
            line-height: 22px;
            margin-bottom: 20px;
          }

          > ul {
            line-height: 20px;
            color: $text-color2;
          }
        }

        .room-reservation {
          flex: 1;
          display: flex;
          align-items: flex-end;
          padding-left: 35px;
          flex-direction: column;

          .MuiInputBase-input {
            font-size: 20px;
            color: $text-title;
            padding: 0px 18px;
            height: 52px;
          }

          .PrivateNotchedOutline-root-1,
          .PrivateNotchedOutline-root-5 {
            border-radius: 0;
          }

          .MuiOutlinedInput-notchedOutline {
            border-color: $text-remind;
          }

          &-date {
            display: flex;

            .PrivateNotchedOutline-root-1,
            .PrivateNotchedOutline-root-5 {
              border-radius: 0;
            }
          }

          &-input {
            position: relative;
            margin-bottom: 8px;
          }

          &-check {
            margin-top: 8px;
            height: 52px;
            width: calc(100% / 2 - 5px);
            padding: 0;
            background-color: $text-remind;
            border: 0px;
            color: $bg-primary;
            font-size: $font-size;
            cursor: pointer;

            &:focus {
              outline: none;
            }

            &:hover {
              background-color: $text-color;
            }

            &:active {
              background-color: rgba(0, 0, 0, 0);
              color: $text-color;
              border: 1px solid $text-color2;
            }

          }

        }
      }

      &_roomDevice {
        height: 22%;
        border-top: 1px solid $text-remind;
        padding: 16.5px 1px 1px 2px;
        color: $text-color2;
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        align-content: space-between;
        justify-content: space-between;

        > span {
          display: flex;
          align-items: center;

          .material-icons {
            color: $text-remind;
          }
        }
      }
    }
  }
}

.date-picker {
  position: relative;
  height: 52px;
}

.date-picker:last-child {
  margin-left: 10px;
}

#check-in,
#check-out,
#label-phone,
#label-name {
  display: flex;
  align-items: center;
  position: absolute;
  top: 50%;
  transform: translate(0, -50%);
  left: 15px;
  color: $text-remind;

  > i {
    margin-right: 2px;
  }
}

#isValue {
  opacity: 0;
}

