@import '../../assets/default.scss';

.detail {
  background: linear-gradient($bg-secondary 18.2%, $bg-primary 18.2%);

  &-wrapper {
    display: flex;
    height: 100vh;
    max-width: 1280px;
    margin: 0 auto;
    padding: 26px 52px 47px 90px;
  }

  &-left {
    min-width: 40%;

    &-logo {
      font-size: 35px;
      font-family: 'Amatic SC', cursive;
      padding: 4px;

      a {
        color: $text-title;
      }
    }

    &-pic {
      height: calc(100% - 46px);

      div,
      span {
        background-position: center center;
        background-size: cover;
      }

      &_top {
        height: 85%;
        margin-bottom: 3px;
        display: flex;
        justify-content: flex-end;
        align-items: flex-end;

        > span {
          display: block;
          border-radius: 50%;
          width: 49px;
          text-align: center;
          background-color: $bg-primary;
          margin: 23px 16px;

          > i {
            margin: auto;
            font-size: 36px;
            line-height: 49px;
          }
        }
      }

      &_down {
        height: 15%;
        display: flex;

        > span {
          width: 100%;
        }

        :last-child {
          margin-left: 3px;
        }
      }
    }
  }

  &-right {
    min-width: 60%;
    padding-left: 27px;
    height: calc(100% - 26px - 47px);

    &-rooms {
      height: 18.2%;
      display: flex;
      font-size: 14px;
      align-items: flex-end;
      padding-bottom: 14px;
      padding-right: 7px;
      padding-left: 2px;
      justify-content: space-between;

      > a {
        color: $text-color;

      }
    }

    &-roomInfo {
      height: calc(81.8% + 47px + 26px);
      padding: 36px 2px 0px;

      &_title {
        height: 15%;
        display: flex;
        justify-content: space-between;
        color: $text-color2;

        > h3 {
          font-size: $font-size * 2;
        }

        > div {
          display: flex;
          justify-content: flex-end;
          flex-direction: column;
          margin-bottom: 19px;
          line-height: 20px;

          > span {
            > b {
              font-weight: 900;
            }
          }
        }
      }

      &_detail {
        height: 63%;
        display: flex;

        .room-detail {
          flex: 1;

          > p {
            line-height: 22px;
            margin-bottom: 20px;
          }

          > ul {
            line-height: 20px;
            color: $text-color2;
          }
        }

        .room-reservation {
          flex: 1;
          display: flex;
          align-items: flex-end;
          padding-left: 35px;
          flex-direction: column;

          .material-icons {
            font-size: 18px;
          }

          &-date {
            display: flex;
          }

          &-check {
            margin-top: 8px;
            height: 52px;
            width: calc(100% / 2 - 5px);
            padding: 0;
            background-color: $text-remind;
            border: 0px;
            color: $bg-primary;
            font-size: $font-size;
            cursor: pointer;

            &:focus {
              outline: none;
            }

            &:hover {
              background-color: $text-color;
            }

            &:active {
              background-color: rgba(0, 0, 0, 0);
              color: $text-color;
              border: 1px solid $text-color2;
            }
          }
        }
      }

      &_roomDevice {
        height: 22%;
        border-top: 1px solid $text-remind;
        padding: 16.5px 1px 1px 2px;
        color: $text-color2;
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        align-content: space-between;
        justify-content: space-between;

        > span {
          display: flex;
          align-items: center;

          .material-icons {
            color: $text-remind;
          }
        }
      }
    }
  }


  .modal {
    position: fixed;
    z-index: 1300;
    right: 0;
    bottom: 0;
    top: 0;
    left: 0;

    &-bg {
      position: fixed;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      z-index: 1;
      background-color: rgba(0, 0, 0, 0.5);
      display: flex;
    }

    &-wrapper {
      height: 100%;
      display: flex;
      align-items: center;
      justify-content: center;

      .modal-content {
        height: 100%;
        width: 100%;
        max-width: 610px;
        max-height: 400px;
        z-index: 100;
        margin: 32px;
        padding: 31px 50px;
        background-color: $bg-primary;
      }
    }
  }


}
