@import '../../assets/default.scss';

.home {
  width: 100%;
  height: 100vh;
  background: linear-gradient($bg-primary 62.5%, $bg-secondary 37.5%);

  &-wrapper {
    max-width: 1280px;
    height: 100%;
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    padding: 70px 96px 22px;
    box-sizing: border-box;

    .home-logo {
      font-size: 80px;
      text-align: center;
      height: 45%;
      font-family: 'Amatic SC', cursive;

      a {
        color: $text-title;
      }
    }

    .home-container {
      height: 55%;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      .home-room {
        height: 73%;
        a {
          display: inline-block;
          height: 100%;
          width: calc(99% / 6);
          border-right: 1px solid #ffffff;
        }
        a:last-child {
          border: none;
        }
        &-pic {
          height: 73%;
          background-position: center center;
          background-size: cover;
        }
        &-info {
          color: $text-color;
          line-height: 23px;
          padding: 6px;
        }
      }

      .home-footer {
        margin: 0 150px;
        display: flex;
        justify-content: space-between;
        > span {
          .material-icons {
            margin-right: 5px;
            vertical-align: sub;
            font-size: 21px;
            color: $text-remind;
          }
        }
      }
    }
  }
}
