@import './assets/reset';
@import './assets/default.scss';

body {
  font-size: $font-size;
  font-family: $font-style;
  background-color: $bg-primary;
  color: $text-color;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  box-sizing: border-box;
}
